:root {
  --primary-color: #e9d758;
  --secondary-color: #297373;
  --tertiary-color: #ff8552;
  --quaternary-color: #e6e6e6;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  padding-block: 4rem;
}

.container-title {
  font-size: 1.5rem;
  text-align: center;
  padding-block: 1rem;
}

/* HEADER START */

header {
  background-color: var(--primary-color);
}

#navbar .nav-list {
  margin-right: 1.5rem;
  height: 4rem;
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
  gap: 1.5rem;
}

/* HEADER END */

/* ABOUT START */

#about {
  background-color: var(--tertiary-color);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#about div {
  text-align: center;
}

/* ABOUT END */

/* PROJECTS START */

#projects {
  background-color: var(--quaternary-color);
}

#projects .projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: 1rem;
  padding: 1rem;
}

#projects .project {
  width: 360px;
  text-align: center;
}

/* PROJECTS END */

/* SKILLS START */

#skills {
  background-color: var(--secondary-color);
}

#skills .skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 1rem;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;
}

/* SKILLS END */

/* CONTACT START */

#contact {
  background-color: var(--tertiary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact .contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}

/* CONTACT END */

/* FOOTER START */

footer {
  background-color: var(--primary-color);
}

footer div {
  display: flex;
  justify-content: right;
  height: 4rem;
  padding-right: 2rem;
}

footer p {
  line-height: 4rem;
}

/* FOOTER END */
