:root {
  /* onyx palette */
  --color-one: #161716;
  --color-two: #242726;
  --color-three: #353a3a;
  --color-four: #414747;
  --color-five: #585858;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  padding-block: 4rem;
  padding-inline: 1rem;
}

.container-title {
  font-size: 3rem;
  text-align: center;
  padding-block: 1rem;
  color: white;
}

/* HEADER START */

header {
  background-color: var(--color-one);
  position: fixed;
  width: 100vw;
  opacity: 0.8;
}

#navbar .nav-list {
  height: 4rem;
  display: flex;
  justify-content: right;
  padding-inline: 1.5rem;
  align-items: center;
}

#navbar .nav-list .nav-item a {
  display: block;
  height: 4rem;
  line-height: 4rem;
  padding-inline: 0.5rem;
  font-weight: bold;
  color: white;
}

/* HEADER END */

/* ABOUT START */

#about {
  background-image: linear-gradient(var(--color-one), var(--color-two));
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* ABOUT END */

/* PROJECTS START */

#projects {
  background-image: linear-gradient(var(--color-two), var(--color-three));
}

#projects .projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

#projects .project {
  width: 360px;
}

#projects .project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  box-shadow: 8px 8px;
}

#projects a {
  color: black;
}

#projects .project-image {
  width: 360px;
  height: 240px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 8px 8px;
}

/* PROJECTS END */

/* SKILLS START */

#skills {
  background-image: linear-gradient(var(--color-three), var(--color-four));
  background-color: var(--color-two);
}

#skills .skill-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
}

#skills .skill-list .skill {
  color: white;
  border-radius: 1rem 1rem 1rem 0;
  padding: 1rem;
  border: 2px solid black;
  font-weight: bold;
  box-shadow: 8px 8px black;
}

/* SKILLS END */

/* CONTACT START */

#contact {
  background-image: linear-gradient(var(--color-four), var(--color-five));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact .contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

#contact .contact-list .contact-link a {
  padding: 1rem;
  border-radius: 1rem 1rem 1rem 0;
  border: 2px solid black;
  font-weight: bold;
  box-shadow: 8px 8px black;
  display: flex;
  color: white;
}

/* CONTACT END */

/* FOOTER START */

footer {
  background-color: var(--color-one);
}

footer div {
  color: white;
  display: flex;
  justify-content: right;
  height: 3rem;
  padding-inline: 1.5rem;
  height: auto;
}

footer p {
  line-height: 3rem;
}

footer a {
  color: white;
  font-weight: bold;
}

/* FOOTER END */
